<div class="login-wrapper">

    <div class="fhlogocontainer">
        <img src="images/feedhenry_logo1.png" width="240" height="40" alt="Feedhenry"  />
    </div>
    <div class="login-container"> 
        <div class="login-description">
            Login is Janine </br> Password is  Firehouse
        </div>
        <div class="row-fluid clearfix">
            <form id="loginform" name="loginform" role="form" style="text-align:left; margin: 0 auto;">
                <div class="row-fluid">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" value="Janine" name="email" id="email" class=" input-field form-control" required="required">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row-fluid">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" value="Firehouse" name="password" id="password"  class="input-field form-control" required="required">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>

        <div class="button-container single-button clearfix">
            <div class="row-fluid">
                <div class="button-center pull-right">
                    <button type="button" id="loginBtn" name="login"  class="btn btn-primary btn-lg">Login</button>
                </div>
            </div>
        </div>
        <div class="error-container" id="error">
        </div>
    </div>
</div>

