<div class="container">
    <div class="top-header">
        <div class="row-fluid">
            <div class="span4">
                <div class="logo pull-left">
                    <img src="images/feedhenry_logo1.png" alt="FeedHenry Logo" />
                    <!-- <div class="logo-title">FeedHenry</div> -->
                </div>
            </div>
            <div class="span4">
                <div class="app-title">
                    Team To-Dos
                </div>
            </div>
            <div class="span4">
            </div>
            <div class="clearfix"></div>
            <div class="span12">
                <div class="top-box lead pull-right">
                    To-Do Location
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="map-container" id="maps_div" style="height:250px;">

    </div>

    <div class="button-container clearfix">
        <div class="container">
            <div class="row-fluid">
                <div class="button-center">
                    <input type="button" name="confirmLocation" class="btn btn-primary" value="Set Location" id="confirmLocation"/>
                </div>
            </div>
        </div>
    </div>
    <div class="error-container" id="error">

    </div>

</div>	