<div class="container">
    <div class="top-header">
        <div class="row-fluid">
            <div class="span4">
                <div class="logo pull-left">
                    <img src="images/feedhenry_logo1.png" alt="FeedHenry Logo" />
                    <!-- <div class="logo-title">FeedHenry</div> -->
                </div>
            </div>
            <div class="span4">
                <div class="app-title">
                    Team To-Dos
                </div>
            </div>
            <div class="span4">
                <div class="button-right right-aside">
                    <button id="logout" name="logout" class="btn btn-primary btn-lg">Logout</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="todo-container">
        <div class="row-fluid">
            <span class="group-title leftinside small-length pull-left"> Who </span>
            <span class="group-title small-length pull-left">When</span>
            <span class="group-title big-length pull-left">What</span>
            <div class="clearfix"></div>
        </div>
        <div class="row-fluid list-group-container">
            <div class="span12">
                <ul class="list-group">

                </ul>
            </div>
        </div>
    </div>
    <div class="error-container" id="error">

    </div>
    <div class="button-container double-button clearfix">
        <div class="row-fluid">
            <div class="left-button pull-left">
                <div class="alignright">
                    <button name="addnew" id="addnew" class="btn btn-primary btn-lg">Create New To-Do</button>
                </div>
            </div>
            <div class="right-button pull-right">
                <div class="alignleft">	
                    <button name="completedtodo" id="completedtodo" class="btn btn-success btn-primary btn-lg">Completed To-Dos</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>