
#loginform {
margin: 0 auto;
}

body{
	padding-left:15px;
    padding-right:15px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

input,textarea,select{
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	
}

/*.container.login-container{
	width: 23%;
	text-align:center;
	margin:auto;
	margin-top:15%;
}*/

/*.login-container .button-container{
	width: 90%;
}*/

.login-wrapper{
 width:30%;
 margin: auto;
 margin-top: 14%;
}

.login-container{
 width: 100%;
 text-align: center;
 padding: 20px;
 border: 1px solid #eee;
 border-radius:4px;
}

.fhlogocontainer{
 text-align:left;
 margin-bottom:10px;
}

.login-container .button-container{
 width: 100%;
 margin-bottom:0;
}

.login-description{ 
 margin-bottom:5px;
 text-align: left;
}


.btn-lg {
 padding: 6px 10px;
 font-size: 14px;
 line-height: 1.33;
 border-radius: 4px;
 font-weight: normal;
}

textarea{
	resize:none; 
	
}

textarea.form-control{
	height:100px;
}


.left-button{ 
	width:50%;
}

.right-button{
	width:40%;
	margin-left:10%;
}

.button-container{
	text-align:center;
	margin-bottom:15px;
}

.double-button{
	margin-top:30px;
}

.tripple-button{ width:80%; float:right;}

.tripple-button .left-button{
		width:25%;
}

.tripple-button .left-button:first-child{
		width:25%;
		margin-right:11%;
}

.tripple-button .right-button{
		width:15%;
		float:right;
		margin-right:0%;
}

.tripple-button .alignright { 
		text-align:left;	
}

.alignright{
	text-align:right;
}


.alignleft{
	text-align:left;
}

.form-container{
	margin-top:10px;
}

.editformConatiner{
	margin-top:30px;
}

.todo-container{
	margin-top:30px;
	
}

.list-group-container{
	max-height: 400px;
	overflow: auto;
	margin-bottom:20px;
}

.button-center{
	text-align:center;
}

.button-right{
	text-align:right;
}

.button-left{
	text-align:left;
}

.box{
border: 1px solid #ddd;
padding:2%;
margin-bottom: 20px;
border-radius: 5px;
/*box-shadow: 0px 0px 10px #E8E8E8;*/
}

.logo{
	width:20%;
    height:65px;
}

.logo-title{
	font-weight:bold;
	margin-left: 4px;
}

.top-box{
	width: 100%;
	text-align: center;
}

.bigbox{
	height: 60px;
}

.smallbox {
	height:auto;
}

.about-description,.map-container{
	margin-top:20px;
	margin-bottom:20px;
}
.login-description {
	text-align: left;
}

.login-container .input-field {
	width: 100%;
}

.input-field {
	width:80%;
}

.top-header{

	margin-top:20px;
	margin-bottom:10px;
}

.photo-thumbnail{
    width:35%;
    border: 1px solid #333;
    padding:1px;
}

.photo-thumbnail img{
    width:100%;
    max-width:100%;
}

.photo-container{
    width:70%;
}

.refreshbutton{
	text-align:center;
}

.single-button{
	margin-top:15px;
}

.lead{
 font-size:18px;
}

.form-group label{
	margin-top: 6px;
}

.form-group{
	margin-bottom:15px;
	overflow:hidden;
}

input[type="button"]{
-webkit-appearance: none;
}

span.date{ 

	margin-right:10%;
	
}

span.arrow-icon{
	right: 1%;
	display: inline-block;
	position: absolute;
}

/*a.list-group-item:hover, a.list-group-item:focus {
	text-decoration: none;
	background-color: #428bca;
	border-color: #428bca;
	color:#fff;
}*/

a.list-group-item:hover, a.list-group-item:focus {

 text-decoration: none;
 /* background-color: #f5f5f5; */
 background:none;
}



a.list-group-item.even{
 background-color: #f5f5f5;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
	border-color: rgba(82,168,236,0.8);
	outline: 0;
	outline: thin dotted 9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	color:#000;
}

.list-group-item .date{
	margin-left:5%;
	width:12%;
}

.list-group-item .username{
	width:12%;
}

.list-group-item .description{
	width:56%;
}

a.list-group-item {
	overflow: hidden;
}

div.list-group-item {
	overflow: hidden;
}

.small-length{
	width:21.4%;
	margin-left: 1.6%;
}

.big-length{
	width:50%;
}

.group-title{
	text-align:left;
	font-weight:bold;
	margin-bottom:15px;
}

.leftinside{
	margin-left:1.5%;
	width:15%;
	
}
.error-container{
 text-align:center;
 margin-bottom:10px;
 color:#F00;
}

@media (min-width: 768px){
 .container.form-container {
  width: 100%;
 }
}
 
@media (min-width: 1200px){
 .container.form-container {
  width:60%;
 }
}

#loader{
    display:none;
    position: absolute;
    left:48%;
    top:48%;
    height:32px;
    width:32px;
    background:url('../images/loader1.gif');
    z-index: 20000;
    background-size: 100% 100%;
}

#overlay{
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#000;
    width: 100%;
    z-index: 500;
}

.app-title{
 font-size:28px;
 text-align:center;
 font-weight:bold;
}

.login-container .branding{
 margin-bottom:10px;
 
}

.login-container .app-title {
  margin-top:20px;
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
 .login-wrapper{
  width:40%;
  margin: auto;
  margin-top: 16.5%;
 }

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
 .login-wrapper{
  width:50%;
  margin: auto;
  margin-top: 36%;
 }
}